<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg26vYWkIMciiYtjC8lhBifASER_7Nips</string>
	<key>GCM_SENDER_ID</key>
	<string>341577459721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>activityapp-b396d</string>
	<key>STORAGE_BUCKET</key>
	<string>activityapp-b396d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341577459721:ios:d11b2c382d8a9d3e8630d8</string>
</dict>
</plist>